@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body{
    font-family: 'Share Tech Mono', monospace;
    background-color: gray;
}

.content{
    display:flexbox;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 5em;
}

.a, .c, .e{
    margin-bottom: 1.5em;
    font-size: 1.5em;
    font-weight: 700; 
}

.b, .d, .f{
    margin-bottom: 2em;
    font-size: 1.2em;
    font-weight: 500;
}