@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    margin: 0;
    background-color: gray;
    font-family: 'Share Tech Mono', monospace;
}

.nav {
    display: flex;
    margin: 1.5em;
    width: auto;
}

li {
    display: inline;
    font-weight: bolder;
    font-size: 2.5em;
}

li:hover,
a:hover {
    color: white;
}

.right {
    color: black;
    font-size: .6em;
    padding-left: 1em;
    margin-top: .5em;
    text-decoration: none;

}

.content {
    display: flexbox;
    margin: 1.5em;
    margin-top: 10em;
}

span {
    font-weight: 500;
    font-size: 2em;
    font-weight: bold;
}

.btn {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: black;
    width: 10em;
    height: 2.5em;
    display: flex;
    padding: .5em;
    align-items: center;
    box-shadow: #d1d1d1 4px 4px;
}

.b {
    color: gray;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bolder;
}

.btn:hover {
    background-color: white;
    box-shadow: #000000 4px 4px;
}

.b:hover {
    color: black;
}

.links {
    display: flex;
    width: 11em;
    margin-left: 1.5em;
    justify-content: center;
}

.links a {
    color: black;
    margin: .5em;
    font-size: 1.5em;
    text-decoration: none;
}

.links a:hover {
    color: #ff9d00;
}

.footer {
    display: flex;
    justify-content: center;
}

.center {
    bottom: 0;
    position: absolute;
    margin-bottom: .5em;
    font-weight: 500;
}